<!doctype html>
<html>
  <head>
    <title>Weather app</title>    
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link href='/stylesheets/style.css' rel="stylesheet" />
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/appMain.js"></script>
  </head>
  <body>
  <div id="app"><%- reactOutput %><div>
    <script>
      var params = <%- JSON.stringify(params) %>;
      ReactDom.render(React.createElement(Homepage ,params), document.getElementById('app'));
      </script>
    </body>
  
</html>
