<!doctype html>
<html>
  <head>
    <title>Weather app</title>
    <link href='/stylesheets/style.css' rel="stylesheet">
  </head>
  <body>
      <div id="react-main-mount">
        <div><%- reactOutput %><div>
      </div>
    <script src="/main.js"></script>
  </body>
</html>