<!doctype html>
<html>
  <head>
    <title>Weather app</title>
    <link href='/stylesheets/style.css' rel="stylesheet">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <div><%- reactOutput %><div>
  </body>
</html>
